.test{
    background:yellow !important;
}

body{
    background:green !important;
}

.cardPlaceholder{
    height: 9em;
    width: 7em;
    float: left;
    margin: 1%;
    background: rgba(78, 250, 78, 0.774);
    border-radius: 6px;
}

.SolitareCard{
    height: 100%;
    width: 100%;
    float: left;
    margin: 1%;
    border: 1px solid black;
    border-radius: 6px;
}



#deck{
    margin: 10%;
    background:rgb(139, 81, 81);
}



/*SUITS CLASS'*/
.suits{
 
    background:rgba(238, 234, 234, 0.383) !important;
   
    float: right;
    margin: 10px;
    border: 1px solid black;
    border-radius: 6px;
}

.hearts{
    background:rgb(179, 19, 19);
}
.clubs{
    background: rgba(14, 1, 1, 0.822);
}
.diamonds{
    background: greenyellow;
}
.spades{
    background: pink;
}

/*END SUIT CLASS'*/




#deckShown{
    position: relative;
}
.topCard{
    display: none;
    position: absolute;
}


.newCard{
    display: none;
    position: absolute;
    margin: 10%;
}

.facedown{
    background: rgba(221, 42, 42, 0.808);
    
}

